body {
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333; 
    color: #ffffff;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #dfdfdf;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Contenedor principal */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
}

/* Área principal de contenido */
.main-content {
  flex: 1; /* Hace que el contenido principal ocupe el espacio restante */
}