.course-detail {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .course-cover {
    width: 100%;
    height: 585px; /* Ajusta la altura para mostrar solo la parte deseada */
    overflow: hidden;
  }
  
  .cover-image {
    width: 100%;
    height: auto; /* Ajusta el ancho al contenedor sin distorsión */
    object-fit: cover; /* Expande la imagen para cubrir el contenedor */
    object-position: top; /* Alinea la imagen en la parte superior */
  }
  
  .course-content {
    padding: 20px;
  }
  
  .course-title {
    font-size: 3em;
    margin: 10px 0;
    color: #ffffff;
  }
  
  .course-description {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #fffefe;
  }
  
  .topics-title {
    font-size: 1.5em;
    margin-top: 20px;
    color: #fffefe;
  }
  
  .topics-list {
    column-count: 3; /* Divide la lista en 3 columnas */
    column-gap: 20px; /* Espacio entre columnas */
    list-style-type: disc; /* Asegura que las viñetas sean puntos */
    padding-left: 20px; /* Ajusta el espaciado a la izquierda para las viñetas */
  }
  
  .topics-list li {
    break-inside: avoid; /* Evita que los elementos se dividan entre columnas */
    margin-bottom: 10px;
  }
  
  
  .buy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #ff5722; /* Color llamativo */
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buy-button:hover {
    background-color: #e64a19;
  }
  
  .icon {
    margin-right: 10px;
  }
  