.footer-custom {
  background-color: #23383d;
  color: #eeeeee;
  width: 100%;
  text-align: center;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5em; /* Tamaño de los iconos */
  margin: 0 15px; /* Mayor espacio entre iconos */
}

.footer-link:hover {
  color: #b95526;
}

.footer-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Asegura que los iconos se centren */
  gap: 30px; /* Espacio adicional entre iconos */
}

.footer-text {
  margin-bottom: 10px;
  font-size: 0.8em;
}
