.notice-detail {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.notice-image {
    width: 100%;
    height: 585px; /* Ajusta la altura según el contenido */
    overflow: hidden;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
}

.notice-content {
    padding: 20px;
}

.notice-title {
    font-size: 2.5em;
    margin: 10px 0;
    color: #e6e7e7;
}

.notice-text-area {
    width: 100%;
    height: 250px;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #111111;
    border: 1px solid #7117e6;
    padding: 15px;
    border-radius: 5px;
    resize: none; /* Evita el redimensionamiento */
    overflow-y: auto;
}

  /* Ajustes de .course-cover para dispositivos móviles */
  @media (max-width: 768px) {
    .notice-image {
      height: 240px; 
    }
  }
  
  @media (max-width: 480px) {
    .notice-image {
      height: 120px; 
    }
  }